body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
div{
    display: grid;
    min-height: 50vh;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}
div input{
    grid-area: 2/2/2/2;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: x-large;
    border-width: 0;
}