.login{
    border: yellow 5px solid;
    background-color: violet;
    padding: 15px;
    border-radius: 20px;
    grid-area: 4/2/5/3;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}